
span.right-arrow {
	display: inline-block;
	position: relative;
	background: #66FF09;
	padding: 3px;
}
span.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid yellow;
}
span.afterarrow{
background:rgb(245, 160, 242);
margin-left:9px;
padding: 3px;
}

.r {
color: red;
}

.b {
color: blue;
}

.reveal ul,.reveal ol{
display:block;
font-size:75%;
}

.reveal table{

border-collapse: collapse;
min-width:70%;
}

.reveal table th, .reveal table td {

font-size:55%;
border: 1px solid black;

}

.reveal table td, .reveal table th{
padding:4px;
}


article.bubble > ul, article.bubble > li {
font-size:80%;
}

article.bubble{
float: left;
text-align: left;
border: 2px dotted black;
padding: 2px;
border-radius: 7px;
margin-left: 14px;
color:black;
}


article.bubblenob{
float: left;
width:30%;
}


article.newbubble{
font-size:60%;
line-height:110%;
float: left;
text-align: left;
border: 2px dotted black;
padding: 2em;
border-radius: 7px;
margin:1%;
box-shadow: 10px 10px 5px #888888;
color:black;
max-width:70%;
margin-left:10%;
margin-top:5%;
}


article.afterbub{
clear:left;
margin-top:4em;
}

article.mmbubble{
line-height:110%;
font-size:60%;
float: left;
text-align: left;
border: 2px dotted black;
padding: 4px;
border-radius: 7px;
margin:1%;
box-shadow: 10px 10px 5px #888888;
color:black;
max-width:30%;
}

article.nfbubble{
font-size:90%;
float: left;
text-align: left;
border: 2px dotted black;
padding: 1.5em;
border-radius: 7px;
margin:4%;
box-shadow: 10px 10px 5px #888888;
color:black;
}

article.bgred{background: rgba(222, 184, 135, 0.64);}
article.bgblue{background: rgba(100, 149, 237, 0.45);}
article.bggreen{background: darkseagreen;}
article.bgcyan{background: rgba(255, 215, 0, 0.25);}



.definition {
    background: beige;
    padding-left: 1px;
    margin-left: 2em;
    padding-right: 1px;
}

.defheader{
    width: 100%;
    /* padding-right: 10px; */
    /* margin-right: 10px; */
    border-bottom: 1px dashed black;
    background: aliceblue;
}

.definition > p {
    /* color: red; */
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-style: italic;
}

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}


table{

border-collapse: collapse;
min-width:70%;
}

table th, .reveal table td {

font-size:55%;
border: 1px solid black;

}

.reveal table td, .reveal table th{
padding:4px;
}

article.examples{
background:white;
padding:1em;
font-size:80%;
margin-left:1em;
padding-left:2em;
font-family:serif;
line-height:90%;
}

article.examples > li{
margin-bottom:15px;
}

.newbubble li.fragment.visible {
    font-size: 130%;
}

.whiteboard{
	width: 747px;
	height: 525px;
	border: 0px solid white;
    color:white;
	font-family: Tahoma, sans-serif;
    font-size:90%;
	background-image: url(blackboard.png);
	background-position: bottom right;
	background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
}
